
<div class="main">
    <div class="section-cards" *ngIf=" books.length !=0 ; else msjVacio">
        <ng-container *ngFor=" let libro of books; let btnpar = even ">
            <app-card [bookPadre] = "libro"  [btnpar] = "btnpar" (elementoBorrar)="borrar($event)" ></app-card>
        </ng-container>      
        
    </div>
    <ng-template #msjVacio>
        <div class="card card-vacia">
            <h2>Libreria Vacia</h2>
        </div>
    </ng-template>   
   
 

    <div class="main-form">
        <form class="card" action="">
            <h1>Añadir libro</h1>
            <input id="title" type="text" class="input" #newTitle required placeholder="Titulo">
            <input id="title" type="text" class="input"  #newAuthor required placeholder="Autor">
            <input id="title" type="url" class="input" #newPhoto required placeholder="Foto">
            <input id="title" type="text" class="input" #newType required placeholder="Tipo">
            <input id="title" type="number" class="input" #newPrice required placeholder="Precio">
            <input id="title" type="number" class="input" #newId_bool required placeholder="Id Libro">
            <input id="title" type="number" class="input" #newId_user required placeholder="Id Usuario">
            <button type="button" class="btn third" on-click="dateBooks( newTitle.value, newType.value, newAuthor.value, newPrice.value,
            newPhoto.value , newId_bool.value , newId_user.value )" >Añadir</button>
        </form>
    </div>
</div>
