<header class="header">
    <div class="header-main">
        <div class="header-title">
            <h1>MyBooks</h1>
        </div>
        <div class="header-ref">
            <p><a class="link" routerLink="/home" style="text-decoration: none;" >Home</a></p>
            <p><a class="link" routerLink="/books" style="text-decoration: none;" >Books</a></p>
            <p><a class="link" routerLink="/register" style="text-decoration: none;">Registro</a></p>
            <p><a class="link" routerLink="/profile" style="text-decoration: none;">Perfil</a></p>
        </div>
    </div>
</header>


